<img src="<%=@item["image"]%>" width="500" height="600"></img>
<p>pick size</p>
<form action="/info/<%=@item["id"]%>" method = "POST">
    <label for ="size">size</label>
    <select name="size" id="size">
        <%@sizes.each do |size|%>
            <option value=<%=size["size_id"]%>><%=size["name"]%></option>
        <%end%>
    </select>
    <button type="submit">Add to cart</button>
</form>

